.sign-in {
    width: 40%;
    padding: 50px;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.sign-in-form {
    background: #DDFFF1;
    border: 1px solid lightgrey;
    border-radius: 10px;
}

.inputSignIn {
    font-family: inherit;
    width: 70%;
    border: 0;
    border-bottom: 2px solid gray;
    outline: 0;
    font-size: 1.3rem;
    color: grey;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    text-align: center;
}

.center-block {
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media(max-width:1150px) {
    .sign-in {
        width: 80%;
    }

    .inputSignIn {
        width: 90%;
    }
}

@media(max-width:680px) {
    .image {
        width: 100% !important;
    }

    .sign-in {
        width: 100%;
    }

    .inputSignIn {
        width: 90%;
    }
}

.image {
    width: 70%;
}

.login-button {
    background-color: #18B48F;
    color: white;
}

.return-button {
    background-color: #18B48F;
    color: white;
}
